ion-avatar {
    --border-radius: 4px;
    height: 100px;
    width: 100px;
  }

.username{
    font-size: 25px;
    position: relative;
    top: -80px;
    left: 120px;
}

.correo{
    font-size: 15px;
    position: relative;
    top: -50px;
    left: 10px;
}

.container-user{
    width: 369px;
    border-bottom: #c5c5c5 solid 2px;
    position: relative;
    top: 25px;
    padding-left: 15px;
}

.footer{
    position: relative;
    top: 200px;
    left: 180px;
    font-weight: 900;
}

.title-aviso{
    color: #ff0000;
}

.text-aviso{
    color: #3300ff;
}

ion-modal{
    height: 250px;
    position: relative;
    top: 180px;
}

.icons{
    text-decoration: none;
    color: #000;
    height: 50px;
    width: 50px;
}

.apikey_text{
    position: relative;
    left: 160px;
    font-size: 16px;
    font-weight: 900;
}

.list-user_account{
    margin-top: 60px;
}
