ion-title{
    position: relative;
    top: 100px;
}


.container_newpassword{
    position: relative;
    top: 120px;
    left: 50px;
}

.container_form{
    position: relative;
    top: 150px;
}

ion-input{
    border-bottom: rgb(179, 179, 179) solid 2px;
}

.btn{
    margin-left: 30px;
}