<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Searchbar -->

  <ion-searchbar color="secondary" value="Dragón Ball" [debounce]="1000" #Query (ionChange)="handleInput(Query)"></ion-searchbar>

  <div>
    <ion-list lines="full">
      <ion-item *ngFor="let result of Busqueda.results">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-img class="img_result" src="https://image.tmdb.org/t/p/original/{{result.backdrop_path}}"></ion-img>
            </ion-col>
            <ion-col size="6">
              <ion-label color="tertiary" class="result_title">
                {{result.title}}
              </ion-label>
              <ion-badge class="text_vermas" (click)="Obtener_Detalle_Pelicula(result.id)" color="tertiary"  (click)="setOpen(true)">Ver Más</ion-badge>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>

  <ion-modal [isOpen]="isModalOpen" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
