<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Searchbar -->

  <ion-searchbar color="secondary" value="Dragón Ball" [debounce]="1000" #Query (ionChange)="handleInput(Query)"></ion-searchbar>

  <div>
    <ion-list lines="full">
      <ion-item *ngFor="let result of Busqueda.results">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-img class="img_result" src="https://image.tmdb.org/t/p/original/{{result.backdrop_path}}"></ion-img>
            </ion-col>
            <ion-col size="6">
              <ion-label color="tertiary" class="result_title">
                {{result.title}}
              </ion-label>
              <ion-badge class="text_vermas" (click)="Obtener_Detalle_Pelicula(result.id)" color="tertiary"  (click)="setOpen(true)">Ver Más</ion-badge>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </div>

  <ion-modal [isOpen]="isModalOpen" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Detalle de la Película</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-label class="text-default" color="danger">{{Detalle.title}}</ion-label>
        <ion-img src="https://image.tmdb.org/t/p/original/{{Detalle.poster_path}}"></ion-img>
        <ion-label class="text-default text-sinopsis" color="primary">Sipnosis</ion-label>
        <p class="ion-text-capitalize">
          {{Detalle.overview}}
        </p>
        <ion-label class="text-default text-sinopsis" color="primary">Cuadros</ion-label>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let fotogramas of Fotogramas.backdrops" size="4">
              <ion-img  src="https://image.tmdb.org/t/p/original/{{fotogramas.file_path}}"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
